<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My NodeJs PAGE | <%= title %></title>
</head>
<body>
    <h1><%= message %></h1>
    <!-- // nav partial -->
    <%- include('./partials/nav.ejs') %>
    <p><%= message %></p>
    <form action="" method="post">
      <div>
        <label for="title">Blog title</label>
        <input type="text" id="title" name="title" placeholder="Title" />
      </div>
      <div>
        <label for="snippet">Blog snippet</label>
        <input type="text" id="snippet" name="snippet" placeholder="Snippet" />
      </div>
      <div>
        <label for="body">Blog body</label>
        <textarea name="body" id="body"></textarea>
      </div>
      <button type="submit">Save</button>
    </form>
</body>
</html>