<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My NodeJs PAGE</title>
</head>
<body>
    <h1>Index</h1>
    <nav>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New blog</a></li>
        </ul>
    </nav>
    <p>Index: Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, repudiandae!
    Vel, minus rem fuga itaque asperiores tenetur nam iusto praesentium!</p>
</body>
</html>